@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<body>

    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="/CoreBlogTema-main/CoreBlogTema-main/CoreBlogTema/web/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            Falan Filan İnter Milan
                        </h3>
                        <p>
                            Blog kelimesinin Türkçede karşılığı olan “ağ günlüğü” ifadesi, pek yaygın kullanılmıyor olsa da bu tip internet sitelerinin işlevini net şekilde belirtir. Zira genel itibariyle bloglar, klasik günlüklerin dijital ortama taşınmış, teknolojiye ayak uydurmuş hâli olarak tanımlanabilir. İnternet tarihinin ilk blogu kabul edilen, 1994 yılında üniversite öğrencisi Justin Hall tarafından açılan “Justin’s Links from the Underground” da aslında web ortamında tutulan bir günlükten ibarettir. 1997 yılında “web log” olarak isimlendirilmeye başlayan bu siteler, 1999’da bugün kullanılmaya devam eden adını almış ve bilinen formatını kazanmaya başlamıştır. Fakat bu tip içeriklerin günümüzde hem kişisel hem de kurumsal iletişimin, dolayısıyla e-ticaretin önemli bir unsuruna dönüşmesine giden sürecin hızlanması Web 2.0 formatının getirdiği imkânlar ile gerçekleşir. Çünkü bu yeni teknoloji ile birlikte, ortalama bir internet kullanıcısı bile kişisel deneyimlerini, bir konuya dair fikirlerini, kolaylıkla dijital ortamda paylaşabilme imkânına kavuşur. Bu dönüşümün elverdiği imkânlar doğrultusunda blog yazmak internet kullanıcıları arasında gittikçe popülerlerlik kazanır; bu formatta birçok kişisel internet sitesi açılır.

                            Blog siteleri; metin, görsel, video ya da fotoğraf gibi içeriklerin paylaşılabildiği web tabanlı ağlardır. Bu tip sitelerde gönderiler genellikle, günlük formatını andırır şekilde güncelden daha eski içeriklere doğru sıralanır. WordPress, Blogger, Tumblr ve Medium gibi servisler üzerinden blog oluşturmak ücretsiz ve kolaydır. Herhangi bir kod ya da programlara bilgisi olmadan da temel internet okuryazarlığına sahip tüm kullanıcılar kendi bloglarını oluşturabilir.
                        </p>
                       
                    </div>

                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        @*<div class="tech-btm">
                            <img src="images/banner1.jpg" class="img-fluid" alt="">
                            </div>*@
                        @*	<div class="tech-btm">
                            <h4>Sign up to our newsletter</h4>
                            <p>Pellentesque dui, non felis. Maecenas male </p>
                            <form action="#" method="post">
                            <input type="email" placeholder="Email" required="">
                            <input type="submit" value="Subscribe">
                            </form>

                            </div>*@
                        <div class="tech-btm widget_social">
                            <h4>Sosyal Medya Hesaplarımız</h4>
                            <ul>

                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                        <span class="count">317K</span> Twitter Followers
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span class="count">218k</span> Facebook Followers
                                    </a>
                                </li>
                                <li>
                                    <a class="dribble" href="#">
                                        <i class="fab fa-dribbble"></i>

                                        <span class="count">215k</span> Dribble Followers
                                    </a>
                                </li>
                                <li>
                                    <a class="pin" href="#">
                                        <i class="fab fa-pinterest"></i>
                                        <span class="count">190k</span> Pinterest Followers
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="tech-btm">
                            <h4>Son Bloglar</h4>
                            @await Component.InvokeAsync("WriterLastBlog")

                            @*<div class="blog-grids row mb-3">
                                <div class="col-md-5 blog-grid-left">
                                <a href="single.html">
                                <img src="/CoreBlogTema-main/CoreBlogTema-main/CoreBlogTema/web/images/b2.jpg" class="img-fluid" alt="">
                                </a>
                                </div>
                                <div class="col-md-7 blog-grid-right">
                                <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                                </h5>
                                <div class="sub-meta">
                                <span>
                                <i class="far fa-clock"></i> 20 Feb, 2018</span>
                                </div>
                                </div>
                                </div>*@
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->
    <!---->
    <!-- js -->
    <script src="/CoreBlogTema-main/CoreBlogTema-main/CoreBlogTema/web/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                        containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                    };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="js/bootstrap.js"></script>


</body>

</html>

